@CHARSET "UTF-8";
.gykTbl {
	padding: 0;
	margin: 0;
	width:100%;
	border-collapse: collapse;
    border-spacing: 0;
}
.gykTbl th {
	font: bold 12px "宋体", Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	border: 1px dotted #888888;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 6px 6px 12px;
	background-color: #539de4;
}

.gykTbl thead tr td{
	border: 1px dotted #888888;
	padding: 6px 6px 6px 12px;
	background-color: #519f02;
	color: #FFFFFF;
}
.gykTbl tbody tr td a{
	cursor:pointer;
	color:#3333FF;
	font-weight:normal;
}

.gykTbl tbody tr td a:hover {
    color: #aa88dd;
    cursor: pointer;
}
.gykTbl th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

.gykTbl tbody td {
	border: 1px dotted #000;
	font-size:12px;
	text-align:center;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

.gykTbl tbody  tr:hover{
	background-color:#DDDDFF;
}
.gykTbl tbody  tr:nth-child(even) {
	
}
/*定义奇数行的背景色为灰*/
.gykTbl tbody tr:nth-child(odd) {
	background:  #EFEFEF
}
/*定义奇数行的背景色为灰*/
.gykTbl tbody  tr:nth-child(odd):hover {
	background:#DDDDFF;
} 
.servDataTbl {
	padding: 0;
	margin: 0;
	width:100%;
	border-collapse: collapse;
    border-spacing: 0;
}
.servDataTbl th {
	font: bold 12px "宋体", Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	border: 1px dotted #888888;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 6px 6px 6px 12px;
	background-color: #539de4;
}

.servDataTbl thead tr td{
	border: 1px dotted #888888;
	padding: 6px 6px 6px 12px;
	background-color: #519f02;
	color: #FFFFFF;
}
.servDataTbl tbody tr td a{
	cursor:pointer;
	color:#3333FF;
	font-weight:normal;
}

.servDataTbl tbody tr td a:hover {
    color: #aa88dd;
    cursor: pointer;
}
.servDataTbl th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

.servDataTbl tbody td {
	border: 1px dotted #000;
	font-size:12px;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
	text-align: center;
}

.servDataTbl tbody  tr:hover{
	background-color:#DDDDFF;
}
.servDataTbl tbody  tr:nth-child(even) {
	
}

/* 数据质量核查-数据按业务统计table */
.servDataTbl .ser-row:hover{
	cursor:pointer;
	background:rgb(183, 211, 216);
}

.servDataTbl tbody .ser-row {
	background:rgb(233, 233, 223);
}

.servDataTbl tbody .tab-row {
	background:#FFF;
}
